DATABASE_URL=mysql://<user>:<password>@<host>:<port>/<database>
DATABASE_URL_FROM_CONTAINER=mysql://root:budokan@localhost:3306/budokan-db
JWT_SECRET=
NODE_ENV="develop"
ETHEREAL_USER=seu_usuario@ethereal.email
ETHEREAL_PASS=sua_senha